<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="alert alert-success" role="alert">
  <%= flash[:error] if flash[:error].present? %>
  <p>Not yet a user? Sign up below</p>
</div>


<%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :username, :title => 'Enter your desired username.' %>
      <%= f.text_field :username, :autofocus => true, :required => true, :title => 'Enter your desired username.', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, :title => 'Please enter the email address where we can contact you for important alerts and notifications.' %>
      <%= f.email_field :email, :required => true, :title => 'Please enter the email address where we can contact you for important alerts and notifications.', :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.label :password, :title => 'Enter a password for your account.' %>
      <%= f.password_field :password, :title => 'Enter a password for your account.', :class => 'form-control', :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, :title => 'Re-enter your password.' %>
      <%= f.password_field :password_confirmation, :title => 'Re-enter your password.', :class => 'form-control', :required => true %>
    </div>

    <div class="text-right">
      <%= button_tag 'Create account', :class => 'btn btn-primary' %>
    </div>
<% end %>
