<%= form_for @user do |f| %>

  <div class="row">
      <div class="col-md-2">
      <h4>Personal Details</h4>
        <div class="form-group">
          <%= f.label :username, "Username" %>
          <%= f.text_field :username,  :class => "form-control", :disabled => "true" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email", :title => 'Please enter the email address where we can contact you for important alerts and notifications.' %>
          <%= f.text_field :email, :class => "form-control", :title => 'Please enter the email address where we can contact you for important alerts and notifications.' %>
        </div>
        <div class="form-group">
          <%= f.label :dob, "Date of birth", :title => 'Please enter your date of birth.' %>
          <%= f.date_field :dob, :class => "form-control", :required => true, :autofocus => true, :title => 'Please enter your date of birth.' %>
        </div>
        <div class="form-group">
          <%= f.label :gender, :title => 'Please select your gender.' %>
          <%= f.select :gender, [['Male','Male'],['Female','Female'],['Other','Other']], :class => "form-control", :required => true, :include_blank => true %>
        </div>
        <div class="form-group">
          <%= f.label :weight, "Weight (kg)", :title => 'Please enter your weight in kilograms.' %>
          <%= f.number_field :weight, :class => "form-control", :required => true, :id => 'user-weight', :title => 'Please enter your weight in kilograms.' %>
        </div>
        <div class="form-group">
          <%= f.label :height, "Height (cm)", :title => 'Please enter your height in centimetres.' %>
          <%= f.number_field :height, :class => "form-control", :required => true, :title => 'Please enter your height in centimetres.' %>
        </div>
    </div>
      <div class="col-md-4 col-md-offset-2">
      <h4>Medical Details</h4>
      <div class="alert alert-warning" role="alert">
        <p><strong>Recommendation:</strong><br>Consult your healthcare professional for an individualised plan to complete your profile accurately.</p>
      </div>
        <div class="form-group">
          <%= f.label :diabetes_type, "Diabetes Type", :title => 'Please select if you have been diagnosed with Type 1 or Type 2 diabetes.'%>
          <%= f.select :diabetes_type, [['Type 1','Type 1'],['Type 2','Type 2']], :required => true, :include_blank => true %>
        </div>
        <div class="form-group">
          <%= f.label :basal_insulin, "Basal Insulin Dose (unit)", :title => 'Please enter your Basal insulin dose as determined by your doctor.' %>
          <%= f.number_field :basal_insulin, :required => true, :id => 'basal-value', :class => "form-control", :title => 'Please enter your Basal insulin dose as determined by your doctor.', :placeholder => "Once a day. 24 hour long lasting insulin (e.g Lantus)" %>
          </div>
        <div class="form-group">
          <%= f.label :bolus_insulin, "Bolus Insulin Dose (unit)", :title => 'Please enter your Bolus insulin dose as determined by your doctor.' %>
          <%= f.number_field :bolus_insulin, :required => true, :class => "form-control", :id => 'bolus-value', :title => 'Please enter your Bolus insulin dose as determined by your doctor.', :placeholder => "Carbohydrate exchange insulin (e.g Novorapid)" %>
        </div>
          <%= f.submit "Update Profile", :class => "btn btn-success", :id => "profile-submit" %>
      </div>
     </div>
<% end %>
