<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <h2>Hi, <%= @user.username %>!</h2><h3>Welcome to your profile page.</h3>
    <h5>In order to provide you with the most accurate calculations, please ensure that the details below are correct. If you see something that's not quite right, click on the 'Edit' button to update your details.</h5><br>
    <tbody>
      <table class="table">
        <tbody>
          <tr>
            <td>Email</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td><%= @user.dob.strftime('%e %B, %Y') %></td>
          </tr>
          <tr>
            <td>Height</td>
            <td><%= @user.height %> cm</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td><%= @user.weight %> kgs</td>
          </tr>
          <tr>
            <td>Diabetes Type</td>
            <td><%= @user.diabetes_type %></td>
          </tr>
          <tr>
            <td>Bolus Insulin</td>
            <td><%= @user.bolus_insulin %> grams carbs per insulin unit</td>
          </tr>
          <tr>
            <td>Basal Insulin</td>
            <td><%= @user.basal_insulin %> insulin units per day</td>
          </tr>
        </tbody>
      </table>
    </tbody>
      <%= button_to 'Edit', edit_user_path, :class => 'btn btn-primary btn-md col-md-2' %>
      <%= button_to 'Delete Account', @user, :method => 'delete', :data => {:confirm => 'Are you sure? This action will permanently delete your account.'}, :class => 'btn btn-danger btn-md col-md-2'  %>
  </div>
</div>