<h2><%= @current_user.username %>'s meals:</h2>

<% unless @current_user.meals.length == 0 %>
<ol>
  <% @meals.each do |meal| %>
    <li data-mealid="<%= meal.id %>"><%= link_to (meal.meal_time.strftime('%R, %e %B %Y')), meal_path(meal) %> <span class="badge"> Carbs: <%= meal.total_carbs %> </span> <a href="<%= edit_meal_path(meal.id) %>"><span class="fa fa-pencil"></span></a> <%= link_to "<span class='fa fa-trash-o'></span>".html_safe, meal_path(meal.id), :method => 'delete' %>
    </li>
  <% end %>
</ol>
<% else %>
  <p>You don't have any stored meals!</p><bk>
  <p>Click the button below to add a meal.</p>
<% end %>
<%= link_to 'Add New Meal', new_meal_path, :class => 'btn btn-primary' %>

