<h3><%= @meal.meal_time.strftime('%e %B, %Y') %></h3>
<p>
  <h4>You've added these foods to your meal:</h4>
</p>
<div class="row">
  <div class="col-md-12 main">
    <div class="col-md-6">
      <% @meal.foods.each do |food| %>
        <p>
          <%= food.foodname %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Delete meal', meal_path, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
<br>
<%= link_to 'Edit meal', edit_meal_path %>
<br>
<%= link_to 'Back to index', meals_path %>

<!-- <button type="button" class="btn btn-success"><%#= link_to 'Add Food', new_meal_food_path(@meal) %></button>

<button type="button" class="btn btn-danger"><%#= link_to 'Delete meal', @meal, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this meal?" } %></button> -->
