<h3><%= @meal.meal_time.strftime('%R') %>, <%= @meal.meal_date.strftime('%e %B %Y') %></h3>

<p>
  <h4>You've added these foods to your meal:</h4>
</p>

<ul>

  <% @meal.foods.each do |food| %>
    <li>

    <a href="<%= meal_food_path(@meal, food) %>">
      <!-- badges for quantity and total carbs -->
      <span class="badge">Qty: <%= food.quantity %></span> <span class="badge">Carbs: <%= food.carbs * food.quantity %></span> <%= food.foodname %>
    </a>

      <a href="<%= edit_meal_food_path(food.meal_id, food.id) %>"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="<%= meal_food_path(food.meal_id, food.id) %>" data-method="delete" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash"></span></a>
    </li>
  <% end %>
</ul>

<span class="badge">Total Carbs:
  <% sum = 0 %>
  <% @meal.foods.each_with_index do |v, i| %>
    <% sum += (@meal.foods[i].carbs * @meal.foods[i].quantity) %>
  <% end %>
  <%= sum %>
</span>



<div id="construct-meal-forms" >
<h3>Construct Meal</h3>
  <div id="search-div">
    <form class="form-inline">
      <input type="text" id="query" placeholder="Enter a food" class="form-control">
      <a id="search" class="btn btn-default">Search</a>
    </form>
  </div>

  <div id="results-div">
    <ul id="search-results"></ul>
  </div>

  <div id="quantity-div">
    <p></p>
  </div>

  <div id="ajax-form">
    <form>
      <label for="form-foodname">Name of food</label>
      <input type="text" id="form-foodname" name="form-foodname" class="form-control" readonly="readonly" required>

      <label for="form-quantity">Quantity</label>
      <input type="text" id="form-quantity" name="form-quantity" class="form-control" required>

      <label for="form-serving-size-qty">Serving size qty</label>
      <input type="text" id="form-serving-size-qty" name="form-serving-size-qty" class="form-control" readonly="readonly" required>

      <label for="form-serving-size-unit">Serving size unit</label>
      <input type="text" id="form-serving-size-unit" name="form-serving-size-unit" class="form-control" readonly="readonly" required>

      <label for="form-serving-size-weight">Serving size weight</label>
      <input type="text" id="form-serving-size-weight" name="form-serving-size-weight" class="form-control" readonly="readonly" required>

      <label for="form-carbs">Carbs</label>
      <input type="text" id="form-carbs" name="form-carbs" class="form-control" readonly="readonly" required>

      <input type="hidden" name="form-meal-id" id="form-meal-id" value="<%= @meal.id %>">
      <br>
      <button id="form-submit" class="btn btn-primary">Add to meal</button>
    </form>
  </div>
</div>


<div id="complete-meal">
  <br>
  <button class="btn btn-success">Complete meal</button>
</div>





<br>
<%#= link_to 'Add food', new_meal_food_path(@meal) %>
<br>
<%= link_to 'Delete meal', meal_path, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
<br>
<%= link_to 'Edit meal', edit_meal_path %>
<br>
<%= link_to 'Back to index', meals_path %>

<!-- <button type="button" class="btn btn-success"><%#= link_to 'Add Food', new_meal_food_path(@meal) %></button>

<button type="button" class="btn btn-danger"><%#= link_to 'Delete meal', @meal, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this meal?" } %></button> -->
