<h3><%= @meal.meal_time.strftime('%e %B, %Y') %></h3>
<p>
  <h4>You've added these foods to your meal:</h4>
</p>
<div class="row">
  <div class="col-md-12 main">
    <div class="col-md-6">
      <% @meal.foods.each do |food| %>
        <p>
          <%= food.foodname %>
        </p>
      <% end %> 
    </div>
  </div>
</div>
<button type="button" class="btn btn-success"><%= link_to 'Add Food', new_meal_food_path(@meal) %></button>

<button type="button" class="btn btn-danger"><%= link_to 'Delete meal', @meal, :method => 'delete', :data => { :confirm => "Are you sure you want to delete this meal?" } %></button>
<!--  needs mmeal and food id passed in -->
<button type="button"><%= link_to 'Edit Meal', edit_meal_food_path(@meal) %></button>