<h3>Here's your meal from <%= @meal.meal_time.strftime('%I:%M %P, %e %B %Y') %></h3>

<div class="row">

  <div class="col-md-4">
    <div id="construct-meal-forms" class="hide-meal-construction">
      <h3>Construct Meal</h3>
      <div id="search-div">
        <form class="form-inline">
          <input type="text" id="query" placeholder="Enter a food" class="form-control">
          <a id="search" class="btn btn-default">Search</a>
        </form>
      </div>

      <div id="results-div">
        <ul id="search-results"></ul>
      </div>

      <div id="ajax-form">
        <form>
          <label for="form-foodname">Name of food</label>
          <input type="text" id="form-foodname" name="form-foodname" class="form-control" readonly="readonly">

          <label for="form-quantity">Quantity</label>
          <input type="number" id="form-quantity" name="form-quantity" class="form-control" min="0.1" step="0.1">

          <label for="form-serving-size-qty">Serving size qty</label>
          <input type="text" id="form-serving-size-qty" name="form-serving-size-qty" class="form-control" readonly="readonly">

          <label for="form-serving-size-unit">Serving size unit</label>
          <input type="text" id="form-serving-size-unit" name="form-serving-size-unit" class="form-control" readonly="readonly">

          <label for="form-serving-size-weight">Serving size weight</label>
          <input type="text" id="form-serving-size-weight" name="form-serving-size-weight" class="form-control" readonly="readonly">

          <label for="form-carbs">Carbs</label>
          <input type="text" id="form-carbs" name="form-carbs" class="form-control" readonly="readonly">

          <input type="hidden" name="form-meal-id" id="form-meal-id" value="<%= @meal.id %>">
          <br>
          <button id="form-submit" class="btn btn-primary">Add to meal</button>
        </form>
      </div>
    </div>

    <div id="complete-meal">
      <br>
      <button class="btn btn-success" id="complete-meal-button">Add foods to meal</button>
    </div>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <h4>You've added these foods to your meal:</h4>

    <!-- Throws up a list when the page loads. List is then manipulated by JS -->
    <ul id="added-foods">
      <% @meal.foods.each do |food| %>

        <li data-food-id="<%= food.id %>" data-meal-id="<%= food.meal_id %>" data-carbs="<%= food.carbs %>" data-quantity="<%= food.quantity %>">
          <span class="badge food-badge">Qty: <%= food.quantity.to_i %></span><span class="badge food-badge">Carbs: <%= (food.total_carbs).round %></span><%= food.foodname %><span class="glyphicon glyphicon-trash delete"></span>
        </li>

      <% end %>
    </ul>

    <!-- Updated in foods.js as foods are added/deleted from list -->
    <span class="badge" id="total-carbs">Total Carbs:
      <% sum = 0 %>
      <% @meal.foods.each_with_index do |v, i| %>
        <% sum += (@meal.foods[i].total_carbs) %>
      <% end %>
      <%= sum.round %>
    </span>
    <span class="badge" id="insulin-required" data-bolus-insulin="<%= @current_user.bolus_insulin %>">Required Insulin Dose:
    <%= ((sum / 15) * @current_user.bolus_insulin).round(1) %>
    </span>
  </div>
</div>

<br>
<%= button_to 'Delete Meal', meal_path, :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-danger btn-md col-md-1'  %>
<%= button_to 'Edit Meal', edit_meal_path, :class => 'btn btn-primary btn-md col-md-1' %>
<%= button_to 'Meal List', meals_path, :class => 'btn btn-primary btn-md col-md-1'  %>
