<h3>Rails form that saves data as food object (to be hidden?)</h3>

<%= render :partial => 'form' %>



<h3>Construct Meal</h3>


<div id="search-div">
  <input type="text" id="query" placeholder="Enter a food">
  <a id="search" class="btn btn-success">Search</a>
</div>

<div id="results-div">
  <ul id="search-results"></ul>
</div>

<div id="quantity-div">
  <p></p>
</div>

<p>
  <h4>You've added these foods to your meal:</h4>
</p>

<ul>
  <% @meal.foods.each do |food| %>
    <li>

    <a href="<%= meal_food_path(@meal, food) %>">
      <!-- badges for quantity and total carbs -->
      <span class="badge">Qty: <%= food.quantity %></span> <span class="badge">Carbs: <%= food.carbs * food.quantity %></span> <%= food.foodname %>
    </a>

      <a href="<%= edit_meal_food_path(food.meal_id, food.id) %>"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="<%= meal_food_path(food.meal_id, food.id) %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
    </li>
  <% end %>
</ul>


