<!-- is this still needed? -->

<h3>Food details:</h3>

<p>Name: <%= @food.foodname %></p>
<p>Quantity: <%= @food.quantity %></p>
<p>Serving Size Qty: <%= @food.serving_size_qty %></p>
<p>Serving Size Unit: <%= @food.serving_size_unit %></p>
<p>Serving Size Weight: <%= @food.serving_size_weight%></p>
<p>Carbs: <%= @food.carbs %></p>


<%= link_to 'Edit food', edit_meal_food_path %>
<br>
<%= link_to 'Delete food', meal_food_path, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
<br>
<%= link_to 'Back to meal', meal_path(@food.meal_id) %>

